@c2061455:registry=https://git.cardiff.ac.uk/api/v4/packages/npm/
//git.cardiff.ac.uk/api/v4/projects/13046/packages/npm/:_authToken=${GITLAB_TOKEN}
//git.cardiff.ac.uk/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN}