@${SCOPE}:registry=https://git.cardiff.ac.uk/api/v4/packages/npm/
//git.cardiff.ac.uk/api/v4/projects/${PROJECT_ID}/packages/npm/:_authToken=${GITLAB_TOKEN}
//git.cardiff.ac.uk/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN}